@page "/auth"
@inject NavigationManager Navigation;

<div class="container">
    <div class="spinner-container">
        <div class="spinner"></div>
        <div class="text">Redirecting...</div>
    </div>
</div>

@code {

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        await Task.Delay(800);
        Navigation.NavigateTo("/login/");
    }

}